apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

images:
- name: hub.k8s.ucar.edu/musicbox/backend
  newName: hub.k8s.ucar.edu/musicbox/backend
  newTag: 6f7e2bc
- name: hub.k8s.ucar.edu/musicbox/frontend
  newName: hub.k8s.ucar.edu/musicbox/frontend
  newTag: 6f7e2bc

namePrefix: devel-

resources:
- ../../base

labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/instance: devel
    app.kubernetes.io/name: musicbox

patches:
- patch: |-
    - op: replace
      path: /spec/template/spec/containers/0/env/0/value
      value: musicbox-devel.acom.ucar.edu
  target:
    kind: Deployment
    name: frontend
- patch: |-
    - op: replace
      path: /spec/template/spec/containers/0/env/2/value
      value: https://musicbox-devel.acom.ucar.edu
  target:
    kind: Deployment
    name: frontend

replacements:
- source:
    fieldPath: .metadata.name
    kind: Service
    name: rabbitmq
  targets:
  - fieldPaths:
    - .spec.template.spec.containers.0.env.7.value
    select:
      kind: Deployment
      name: backend
  - fieldPaths:
    - .spec.template.spec.containers.0.env.7.value
    select:
      kind: Deployment
      name: model-runner
