apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

images:
- name: hub.k8s.ucar.edu/musicbox/frontend
  newTag: b06731e
- name: hub.k8s.ucar.edu/musicbox/backend
  newTag: b06731e

namePrefix: "devel-"

resources:
- ../../base

labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/instance: devel
    app.kubernetes.io/name: musicbox

patches:
  - target:
      kind: Deployment
      name: frontend
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/env/0/value
        value: musicbox-devel.acom.ucar.edu
  - target:
      kind: Deployment
      name: frontend
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/env/2/value
        value: https://musicbox-devel.acom.ucar.edu

replacements:
  - source:
      kind: Service
      name: rabbitmq
      fieldPath: .metadata.name
    targets:
      - select:
          kind: Deployment
          name: backend
        fieldPaths:
        - .spec.template.spec.containers.0.env.7.value
      - select:
          kind: Deployment
          name: model-runner
        fieldPaths:
        - .spec.template.spec.containers.0.env.7.value

